.footer {
    background-color: #2d2e32;
    color: #fff;
    position: relative;
    margin-top: auto;
    width: 100%;
    padding: 20px 0;
  }
  
  .footerContent {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 960px;
    margin: 0 auto;
    padding: 0 20px;
  }
  @media (max-width:500px){
    .footerContent{
flex-direction: column;
    }
    .footerContent p{ 
      font-size: 13px;

    }
    .footerContent img{
      display: none;
    }
    }
